{% extends 'base.html' %}
{% block content %}
    <a href="{% url "all_list" %}">На список задач</a>
{#    {{ form.as_p }}#}
    <form action="" method="post">
        {% include 'partial/form.html' with button_text="Create"%}
    </form>

{#    <form action="{% url "adding_list" %}" method="post">#}
{#    {% csrf_token %}#}
{#        <select name="status">#}
{#            {% for choice_eng, choice_ru in choices %}#}
{#                <option value="{{ choice_eng }}">{{ choice_ru }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <lable>Описание</lable>#}
{#        <input type="text" name="description">#}
{#        <input type="date" name="created_at">#}
{#        <lable>Описание</lable>#}
{#        <input type="text" name="about_list">#}
{#        <br/>#}
{#        <input type="submit" value="Send"/>#}
{#    </form>#}
{% endblock content %}