{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% block page_header %}<a href="{% url "adding_list" %}">Добавить задачу</a>{% endblock page_header %}
        {% if not lists %}
            <h1>Нет Задач</h1>
        {% else %}
            <h1>Задачи</h1>
            {% for list in lists %}
            <h6>
                {{ list.status }}: {{ list.description }}
            </h6>
                <h6>
                    <a href="{% url 'list_more' list.pk %}">{{ list.description }}</a>
                </h6>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
