<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <form action="">
        <select name="status">
            {% for choice_eng, choice_ru in choices %}
                <option value="{{ choice_eng }}">{{ choice_ru }}</option>
            {% endfor %}
        </select>
        <lable>Описание</lable>
        <input type="text" name="description">
        <input type="date" name="created_at">
    </form>
</div>
</body>
</html>