{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    {% if not lists %}
        <h1>Нет Задач</h1>
    {% else %}
        <h1>Задачи</h1>
        {% for list in lists %}
        <h6>
            {{ list.status }}: {{ list.description }}
        </h6>
            <h6>
                {{ list.about_list }}
            </h6>
        {% endfor %}
    {% endif %}
</div>

</body>
</html>